# SPDX-FileCopyrightText: 2021 Andrew 'glyph' Reid
#
# SPDX-License-Identifier: Unlicense

test_results
notes
goals
/target
**/*~
**/node_modules
**/.DS_Store
/.github
/.parcel-cache
/test-dist
/example
/rust-toolchain
/server.py
/test
/webpack.config.js
/.cargo/config
/karma.conf.js
